<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.DebugUsbAdbReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.screen.remote.android.debug.USB_DIAG" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
